# RCON info for your mordhau server instance
RCON_HOST=localhost
RCON_PORT=27015
RCON_PASSWORD=change_me

# This password is also stored in your servers Game.ini - to make sure the game mod is communicating with the correct server
EZCONFIG_PASSWORD=change_me
ADMIN_USERNAME=change_me
ADMIN_PASSWORD=change_me

# Display name shown on sign-in and when reviewing an apply
NEXT_PUBLIC_SERVER_NAME=Mordhau server
SERVER_NAME=Mordhau server
